[Desktop Entry]
Actions=openzeddir
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action openzeddir]
Exec=zed %F
Icon=zed
Name=Open with Zed
