[Desktop Entry]
Actions=openzeddir
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action openzeddir]
Exec=zeditor %F
Icon=zeditor
Name=Open with Zed