[Desktop Entry]
Actions=openvscodefile
MimeType=text/plain;application/octet-stream;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action openvscodefile]
Exec=code %F
Icon=com.visualstudio.code
Name=Edit with VS Code